html, body{
    background-image: url(kosmos2.png)
}
.maa{
    position: absolute;
    left: 6%;
    top: 23%;
    border-radius: 100%;
}
.inf1 {
    color: white;
    z-index: 1;
    float: left;
    left: 200px;
    top: 10px;
    font-size: 10px;

}