html, body{
    background-image: url(kosmos2.png)
}
.plt{
    left: 6%;
    top: 32%;
    position: absolute;
    border-radius: 100%;
    z-index: 1;
}
.glow{
    left: 8.7%;
    top: 38%;
    background: white;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: absolute;
      box-shadow: 0 0 60px 30px white;
}
.logo {
    left: 4.5%;
    top: 6%;
    color: white;
    font-size: 90px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: yellow underline;
    border-radius: 15px 50px 30px 5px;
}
.inf1{
    color: white;
    z-index: 1;
    left: 200px;
    top: 10px;
    font-size:17px;
    font-family: sans-serif;
    left: 40%;
    top: 5%;
    position: absolute;
    padding-right: 10px;
    border-left: 6px solid yellow;
    height: 4%;
     position:absolute;
    border-spacing: 20px;
}