html, body{
    background-image: url(kosmos2.png)
}
.tagasi {
    border: none;
    background: none;
    left: 1%;
    top: 95%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: yellow underline;
}
.pildid {
    border: none;
    background: none;
    left: 9%;
    top: 95%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: yellow underline;
}
.plt{
    left: 6%;
    top: 32%;
    position: fixed;
    border-radius: 100%;
    z-index: 1;
}
.glow{
    left: 8.7%;
    top: 38%;
    background: white;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: fixed;
      box-shadow: 0 0 60px 30px white;
}
.logo {
    left: 4.5%;
    top: 4%;
    color: white;
    font-size: 90px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: yellow underline;
    
}
.inf1{
    color: white;
    z-index: 1;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 12.4%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 31.5%;
    line-height: 1.5;
}
#nimi {
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 48.5%;
    text-decoration: 4px yellow underline;
}
.inf2 {
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 56.5%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 5.5%;
    line-height: 1.5;
}
#orbiit {
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 66%;
    text-decoration: 4px yellow underline;
}
.inf3 {
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 74%;
    position: absolute;
    padding-left: 26px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 55.5%;
    line-height: 1.5;
}
#pinnavormid {
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 133%;
    text-decoration: 4px yellow underline;
}
.inf4 {
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 141%;
    position: absolute;
    padding-left: 26px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 76.5%;
    line-height: 1.5;
}
#mootmed {
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 221.4%;
    text-decoration: 4px yellow underline;
}
.inf5 {
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 229.4%;
    position: absolute;
    padding-left: 26px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 40;
    line-height: 1.5;
}
#magnetvali {
    color: white;
    font-family: sans-serif;
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 272.4%;
    text-decoration: 4px yellow underline;
}
.inf6 {
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 35%;
    top: 280.4%;
    position: absolute;
    padding-left: 26px;
    padding-right: 30px;
    border-left: 4px solid yellow;
    height: 40;
    line-height: 1.5;
}
#pildid1 {
    
}