html, body{
    background-image: url(kosmos.jpg)
}
.merkuur{
    position: absolute;
    left: 34%;
    top: 23%;
}
.mrk-suurus {
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: 1;
    color: white;
}