html,body {
  background-color: black;
}
#hdr {
  z-index: 10;
  background: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 200px;
  color: white;
  height: 18%;
  width: 40%;
  left: 550px;
  top: 390px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
#hdr:hover{
    font-size: 220px
}
