html,body {
  background-image: url(kosmos4.jpg);
}
.planeedid{
    color: white;
    font-family: monospace;
    font: bold;
    left: 29%;
    top: -9%;
    position: absolute;
    font-size: 150px;
}
.mrk {
    border: none;
    background: none;
    position: absolute;
    left: 2%;
    top: 41%;
    transition: 3s;
}
.parent:hover > .mrk {
    transform: scale(0.8,0.8);}

.vns {     
    border: none;
    background: none;
    position: absolute;
    left: 13.5%;
    top: 41%;
    transition: 3s;
}
.parent:hover > .vns {
    transform: scale(0.8,0.8);}

.maa {
    border: none;
    background: none;
    position: absolute;
    left: 25%;
    top:41%;
    transition: 3s;
}
.parent:hover > .maa {
    transform: scale(0.8,0.8);}

.mrs {
    border: none;
    background: none;
    position: absolute;
    left: 36.8%;
    top:41%;
    transition: 3s;
}
.parent:hover > .mrs {
    transform: scale(0.8,0.8);}

.jpt {
    border: none;
    background: none;
    position: absolute;
    left: 48.8%;
    top:41%;
    transition: 3s;
}
.parent:hover > .jpt {
    transform: scale(0.8,0.8);}

.stn {
    border: none;
    background: none;
    position: absolute;
    left: 58.3%;
    top:41%;
    transition: 3s;
}
.parent:hover > .stn {
    transform: scale(0.8,0.8);}

.aan {
    border: none;
    background: none;
    position: absolute;
    left: 73%;
    top:41%;
    transition: 3s;
}
.parent:hover > .aan {
    transform: scale(0.8,0.8);}

.npt {
    border: none;
    background: none;
    position: absolute;
    left: 87%;
    top:42%;
    transition: 3s;
}
.parent:hover > .npt {
    transform: scale(0.8,0.8);}

.parent:hover > button:hover {
  font-size: 100px;
  transform: scale(1.5,1.5);
}