
html, body{
    background-image: url(kosmos2.png)
}
.ulevaade {
    border: none;
    background: none;
    left: 73%;
    top: 89%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
    z-index: 1
}
.tagasi {
    border: none;
    background: none;
    left: 91%;
    top: 89%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
    z-index: 1
}
.pildid {
    border: none;
    background: none;
    left: 84%;
    top: 89%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
    z-index: 1;
}
.plt{
    left: 74%;
    top: 32%;
    position: fixed;
    border-radius: 100%;
    z-index: 1;
    flex-shrink: 100px;
}
.glow{
    left: 76%;
    top: 38%;
    background: orange;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: fixed;
      box-shadow: 0 0 60px 30px orange;
}
.logo {
    left: 74%;
    top: 6%;
    color: white;
    font-size: 90px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
    
}
.inf1{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 12.4%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.iseloomustus {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf2{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}.pinnavormid {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf3{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.kontinendid {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf4{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.geoloogia {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf5{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.ehitus {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf6{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}.atmosfaar {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf7{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.vesi {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf8{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.elu {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf9{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.kuud {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf10{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}
.uurimine {
        color: white;
    font-family: sans-serif;
    position: relative;
    left: 0%;
    top: 64%;
    text-decoration: 4px orange underline;
}
.inf11{
    color: white;
    font-size:17px;
    font-family: sans-serif;
    left: 0%;
    top: 70%;
    position: relative;
    padding-left: 10px;
    padding-right: 38%;
    border-left: 4px solid orange;
    line-height: 1.5;
    text-align: justify;
}