html, body{
    background-image: url(kosmos2.png)
}
.veenus{
    position: absolute;
    left: 34%;
    top: 23%;
}
html, body{
    background-image: url(kosmos2.png)
}
.tagasi {
    border: none;
    background: none;
    left: 1%;
    top: 95%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
}
.pildid {
    border: none;
    background: none;
    left: 9%;
    top: 95%;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
}
.plt{
    left: 6%;
    top: 30%;
    position: fixed;
    border-radius: 100%;
    z-index: 1;
}
.glow{
    left: 8.7%;
    top: 38%;
    background: white;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: fixed;
      box-shadow: 0 0 60px 30px orange;
}
.logo {
    left: 5.9%;
    top: 6%;
    color: white;
    font-size: 90px;
    font-family:sans-serif;
    position: fixed;
    text-decoration: orange underline;
    
}
.inf1 {
    color: white;
    z-index: 1;
    font-family: sans-serif;
    left: 35%;
    top: 12.4%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid orange;
    line-height: 1.5;
}
.pohijooned {
    color: white;
    font-family: sans-serif;
    position: absolute;
    left: 35%;
    top: 24.5%;
    text-decoration: 4px orange underline;
}
.inf2 {
    color: white;
    z-index: 1;
    font-family: sans-serif;
    left: 35%;
    top: 30.4%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid orange;
    line-height: 1.5;
}
.atmosfaar {
    color: white;
    font-family: sans-serif;
    position: absolute;
    left: 35%;
    top: 62%;
    text-decoration: 4px orange underline;
}
.inf3 {
    color: white;
    z-index: 1;
    font-family: sans-serif;
    left: 35%;
    top: 68.6%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid orange;
    line-height: 1.5;
}
.pilved {
    color: white;
    font-family: sans-serif;
    position: absolute;
    left: 35%;
    top: 108%;
    text-decoration: 4px orange underline;
}
.inf4 {
    color: white;
    z-index: 1;
    font-family: sans-serif;
    left: 35%;
    top: 115.5%;
    position: absolute;
    padding-left: 10px;
    padding-right: 30px;
    border-left: 4px solid orange;
    line-height: 1.5; 
}